:root {
    --primary: rgb(235, 126, 25); /* Background */
    --primary-50: #34818450;
    --secondary: #0f1029; /* Accent */
    --tertiary: #ffffff; /* Text color */
    --quaternary: #43acac; /* Alt background */
    --primarylogin:rgb(245, 198, 110);
    --primaryFont: 'Open Sans', sans-serif;
    --secondaryFont: "JetBrains Mono", monospace;
}
.drop-solid-black {
    filter: drop-shadow(2px 2px 0px black);
}
.drop-blurry-black {
    filter: drop-shadow(2px 2px 5px black);
}
* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid rgb(234, 217, 220); Remove after! */
}
body {
    background-color: var(--secondary);
    font-family: var(--primaryFont);
    color: black;
    overflow-x: hidden;
}
img {
    width: 80px;
	height: 80px;
}

button:hover,
img:hover {
    transform: scale(1.1);
}
