:root {
    --primary: rgb(235, 126, 25); /* Background */
    --primary-50: #34818450;
    --secondary: #0f1029; /* Accent */
    --tertiary: #ffffff; /* Text color */
    --quaternary: #43acac; /* Alt background */
    --primarylogin:rgb(245, 198, 110);
    --primaryFont: 'Open Sans', sans-serif;
    --secondaryFont: "JetBrains Mono", monospace;
}
.drop-solid-black {
    filter: drop-shadow(2px 2px 0px black);
}
.drop-blurry-black {
    filter: drop-shadow(2px 2px 3px black);
}
.drop-strong-blurry-black {
    filter: drop-shadow(2px 2px 10px black);
}
.glow-black {
    filter: drop-shadow(0px 0px 15px black);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: var(--primaryFont);
    color: black;
    overflow-x: hidden;
}
img {
    user-select: none;
    width: 40px;
	height: 40px;
}

button:hover,
img:hover {
    transform: scale(1.1);
}
