/* Regular css selectors/tags */
html,
body {
	height: 100%;
}
main {
	background-color: gray;
	text-align: center;
	width: 85%;
	height: inherit;
}
header {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: space-evenly;
}
aside {
	width: 15%;
}

/* By ID's */
#websiteTitle {
	width: fit-content;
}
#infoUsuario {
	display: flex;
}
#separator {
	display: flex;
	flex-wrap: nowrap;
	height: inherit;
}
#juego {
	height: inherit;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5%;
}

#jugar {
    padding: 10px;
	border-radius: 15%;
}
#stats,
#ranking {
    padding: 5px;
	border-radius: 15%;
}
#others {
    width: max-content;
    width: 95%;
}
