/* Regular css selectors/tags */
html,
body {
	height: 100%;
	color: var(--tertiary);
}
#mododia {
	background-image: url("https://i.pinimg.com/originals/3a/7b/da/3a7bda163b42122cec8497e44ce3f9dd.gif");
}
#modonoche {
	background-image: url("https://wallpaperaccess.com/full/775140.gif");
}
main {
	background-color: var(--secondary); /* Fallback background. */
	background-size: contain;
	text-align: center;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}
header {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);
}
aside {
	width: 14%;
	background-color: var(--secondary);
	border-right: var(--tertiary) 4px double;
}
aside h2,
h4 {
	padding-top: 10px;
	text-align: center;
}
footer {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	height: 40px;
	background-color: var(--primary);
}
ul,
li {
	list-style: none;
}
ul {
	display: block;
}
li {
	justify-content: end;
	text-align: end;
}
.fullscreen {
	width: 100%;
	height: 100%;
}
.submenu {
	border: none;
	background: none;
}
.instructions {
	margin-top: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.instructions img {
	padding-right: 10px;
}

/* By ID's */
#websiteTitle {
	margin-left: 20px;
}
#menu {
	display: flex;
}
#infoUsuario {
	margin-right: 2.5%;
}
#infoUsuario:hover {
	background-color: var(--tertiary);
	color: var(--secondary);
	border-radius: 5px;
}
#imagenUsuario {
	height: 30px;
	margin: 5px 10px 0px 10px;
}
#nombreUsuario {
	margin-top: 12.5px;
}
#separator {
	display: flex;
	height: inherit;
	background-color: var(--secondary);
}
#juego {
	height: 75%;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 0%;
}
#botones {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#jugar {
	margin-bottom: 10px;
	border-radius: 20px;
	padding: 10px;
	width: 180px;
	height: 60px;
}
#ranking,
#extras {
	margin-bottom: 10px;
	border-radius: 20px;
	padding: 10px;
}
#ranking.fullscreen {
	margin: 0%;
	padding: 0%;
	border-radius: 8px;
}

#myframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: auto;
}
