/* Regular css selectors/tags */
html,
body {
	height: 100%;
	color: var(--tertiary);
}
main {
	/* background-color: var(--secondary); */
	background-image: url("https://i.pinimg.com/originals/3a/7b/da/3a7bda163b42122cec8497e44ce3f9dd.gif");
	background-size: contain;
	text-align: center;
	width: 90%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}
header {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);
}
aside {
	width: 14%;
	background-color: var(--secondary);
	border-right: var(--tertiary) 4px double;
}
aside h3{
	padding-top: 10px;
	text-align: center;
}
footer {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	width: inherit;
	height: 40px;
	background-color: var(--primary);
}
ul, li {
	list-style: none;
}
.fullscreen {
	width: 100%;
	height: 100%;
}

/* By ID's */
#websiteTitle {
	width: fit-content;
	align-items: center;
	margin-left: 20px;
}
#infoUsuario {
	display: flex;
	justify-content: end;
	margin-right: 2.5%;
}
#infoUsuario:hover {
	background-color: var(--tertiary);
	color: var(--secondary);
	border-radius: 5px;
}
#nombreUsuario{
	align-items: center;
	margin-top: auto;
}

#separator {
	display: flex;
	flex-wrap: nowrap;
	height: inherit;
	width: 100%;
	border: 4px solid black;
	background-color: var(--secondary);
}
#juego {
	height: 75%;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--tertiary);
	gap: 5%;
	border: 4px solid black;
	border-radius: 8px;
}
#botones {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#jugar {
	padding: 10px;
	border-radius: 20px;
	width: 180px;
	height: 60px;
	margin-bottom: 5px;
}
#play {
	width: 100%;
}
#stats,
#ranking {
	padding: 5px;
	border-radius: 20px;
	width: 125px;
	height: 40px;
	margin-left: 5px;
}
