/* Regular css selectors/tags */
body {
    display: flex;
    padding-top: 150px;
}
section {
    width: 25%;
    height: 300px;
    padding: 50px;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
#loginButton{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

}
/* By ID's */
