/* Global && CSS selectors. */
html,
body {
	height: 100%;
	overflow: hidden;
}

.title {
	font-size: 6rem;
	text-align: center;
	background: linear-gradient(to right, #fc0000, #e7a6a6);
	-webkit-background-clip: text;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-text-fill-color: transparent;
	margin: 2%;
}
.game {
	background-image: url("https://wallpaperaccess.com/full/775140.gif");
	background-size: cover;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	text-align: center;
}

.game img {
	width: 80%;
	height: 30%;
}
.jugar {
	margin-bottom: 10px;
	border-radius: 20px;
	padding: 10px;
	width: 180px;
	margin-top: 5%;
	background-color: #ffc1c1;
	height: 60px;
}
.jugar:hover,
img:hover {
	transform: scale(1);
}

/* ID's */
#playArea {
	width: 100%;
	height: 100%;
	/* display: none; */
}
#games {
	/* border: 1px solid black; */
	display: flex;
	height: 500px;
	width: 100%;
	justify-content: space-around;
	flex-direction: row;
}
#holder {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#selected {
	background-color: #c3ffc1 !important;
}
#selected:hover {
	transform: scale(1.1);
}
